$bg-color:#014E56;
$bg2-color:#012F34;
$white-color: #fff;

body {
    font-family: 'Livvic', "sans-serif";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
}