body {
  font-family: "Livvic", "sans-serif";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 165px;
  margin: 0 auto;
}

.header-container {
  background-color: #014E56;
  display: flex;
  gap: 30px;
  padding-top: 75px;
  align-items: center;
}
.header-container .items {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header-container .img {
  margin-right: 80px;
  width: 160px;
  height: 40px;
}
.header-container .item__link {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}
.header-container .link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding: 10px 32px;
  border-radius: 24px;
  border: 2px solid #fff;
  margin-left: 577px;
}

.hero-container {
  padding-top: 133px;
  background-color: #014E56;
  display: flex;
  gap: 30px;
  padding-bottom: 250px;
}
.hero-container .heading {
  width: 635px;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}
.hero-container .-- {
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
}
.hero-container .text {
  width: 445px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.hero-container .right {
  display: flex;
  flex-direction: column;
  gap: 79px;
}

.info-container {
  display: flex;
  gap: 125px;
  background-color: #012F34;
  padding-top: 198px;
  padding-bottom: 140px;
}
.info-container .heading {
  width: 445px;
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.info-container .items {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.info-container .item {
  display: flex;
  gap: 23px;
}
.info-container .bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info-container .item__heading {
  width: 445px;
  color: #F67E7E;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.info-container .item__text {
  width: 445px;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

.boxes-container {
  background-color: #004047;
  padding-top: 140px;
}
.boxes-container .heading {
  width: 932px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.boxes-container .items {
  margin-top: 92px;
  display: flex;
  list-style: none;
  gap: 30px;
}
.boxes-container .item__text {
  width: 350px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.boxes-container .item__heading {
  width: 350px;
  color: #79C8C7;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.boxes-container .item__span {
  display: inline-block;
  width: 350px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
}/*# sourceMappingURL=main.css.map */